
.comment-main {
    padding: 0.4rem 0.28rem 0;
    overflow: hidden;
}
.info {
    height: 1rem;
}
.info img{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 1rem;
    margin-right:0.2rem;
    float:left;
}
.name{
    font-size: 0.26rem;
}
.time{
    font-size: 0.22rem;
    color: #b4b4b4;
}
.topic {
    font-size: 0.28rem;
    line-height:0.48rem;
}
.topic span{
    color: #6ca68b;
}
ul:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}
.Img,.Img2,.Img4,.Imgother {
    margin-top: 0.2rem;
    overflow: hidden;
}
li img{
    width:100%;
    height:100%;
}
.comment-main li{
    float:left;
    overflow: hidden;
    margin-bottom:2%;
    margin-right:2%;
}
.Img li{
    /*width:5rem;*/
    /*height: 3rem;*/
}
.Img2 li{
    width:40%;
    height: 3rem;
}
.Img4 li{
    width:40%;
    height:2rem;
}
.Imgother li{
    width:2rem;
    height:2rem;
}
.Imgother li div{
    height:100%;
    width:100%;
}
.details {
    float: right;
}
.details span{
    font-size: 0.24rem;
    display: inline-block;
    float:left;
    margin: 0.1rem 0 0.3rem 0.4rem;
}
.details-pinlun:before{
    content: " ";
    display: inline-block;
    width:0.32rem;
    height: 0.32rem;
    background: url("../img/icon-comments@2x.png") no-repeat;
    background-size: cover;
    vertical-align: bottom;
    margin-right: 0.07rem;
}
.details-zan:before{
    content: " ";
    display: inline-block;
    width:0.32rem;
    height: 0.32rem;
    background: url("../img/like-n@2x.png") no-repeat;
    background-size: cover;
    vertical-align: bottom;
    margin-right: 0.07rem;
}
.details-share:before{
    content: " ";
    display: inline-block;
    width:0.32rem;
    height: 0.32rem;
    background: url("../img/icon-share@2x.png") no-repeat;
    background-size: cover;
    vertical-align: bottom;
}
.line {
    height: 0.3rem;
    background-color: #F8F8F8;
}
.comment-list h3{
    font-size: 0.34rem;
    padding: 0.26rem 0.28rem;
    border-bottom: 1px solid #dcdcdc;
}
.comment-list li {
    padding-left: 0.28rem;
    padding-top: 0.3rem;
}
.comment-list img{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 1rem;
    margin-right:0.2rem;
    float:left;
}
.comment-list-detail {
    width: 6rem;
    display: inline-block;
    border-bottom: 1px solid #dcdcdc;
}
.comment-list h2 {
    font-size: 0.26rem;
    color: #6ca68b;
    margin-top: 0.07rem;
}
.comment-list b{
    float: right;
    color: #333333;
}
.comment-list b:before{
    content: " ";
    display: inline-block;
    width:0.32rem;
    height: 0.32rem;
    background: url("../img/like-n@2x.png") no-repeat;
    background-size: cover;
    vertical-align: bottom;
    margin-right: 0.07rem;
}
.comment-list p{
    font-size: 0.28rem;
    margin: 0.16rem 0 0.2rem;
    line-height:0.48rem;
}
.comment-list span{
    font-size: 0.22rem;
    color: #b4b4b4;
    margin: 0 0.2rem 0.2rem 0;
    float: left;
}
.foot{
    width:100%;
    height: 1rem;
    text-align: center;
    color: #ffffff;
    line-height:1rem;
    font-size: 0.28rem;
    background: #4d7060;
    display: block;
}
